body {
    margin: 50px;
}
h1 {
    font-size: 15px;
    text-align: left;
}
p {
    font-size: 25px;
    text-align: center;
    font-family: Cadena;
    margin-bottom: -2px;
}

@font-face {
    font-family: Cadena;
    src: url(cadena.otf);
}